<table class="all-offers">
    <tr>
        <td class="logo">
            <a href="#">
                <img src="./images/img/logo-shops/logo-1.png" alt="" width="111" height="73">
            </a>
        </td>
        <td class="info">
            <div class="title"><a href="#">royal-service.store</a></div>
            <div class="rating">оцінка: <span>8.9</span></div>
            <div class="rewviews">105 отзывов</div>
        </td>
        <td class="description">
            <div class="delivery">Доставка: <span>з Дніпра</span></div>
            <div class="descr">Игровая приставка Sony PlayStation 4 Slim (PS4 Slim) 500GB... <span class="see-more">подробнее</span></div>
        </td>
        <td class="price">
            <span>23 000 грн</span>
        </td>
        <td class="buy-info">
            <div class="cashback">Кешбек <span>5.5 %</span></div>
            <div class="buy-now">Купити</div>
            <div class="warranty">12 міс. гарантії від магазину</div>
        </td>
    </tr>
    <tr>
        <td class="logo">
            <a href="#">
                <img src="./images/img/logo-shops/logo-2.png" alt="" width="111" height="73">
            </a>
        </td>
        <td class="info">
            <div class="title"><a href="#">royal-service.store</a></div>
            <div class="rating">оцінка: <span>8.9</span></div>
            <div class="rewviews">105 отзывов</div>
        </td>
        <td class="description">
            <div class="delivery">Доставка: <span>з Дніпра</span></div>
            <div class="descr">Игровая приставка Sony PlayStation 4 Slim (PS4 Slim) 500GB... <span class="see-more">подробнее</span></div>
        </td>
        <td class="price">
            <span>23 000 грн</span>
        </td>
        <td class="buy-info">
            <div class="cashback">Кешбек <span>5.5 %</span></div>
            <div class="buy-now">Купити</div>
            <div class="warranty">12 міс. гарантії від магазину</div>
        </td>
    </tr>
    <tr>
        <td class="logo">
            <a href="#">
                <img src="./images/img/logo-shops/logo-3.png" alt="" width="111" height="73">
            </a>
        </td>
        <td class="info">
            <div class="title"><a href="#">royal-service.store</a></div>
            <div class="rating">оцінка: <span>8.9</span></div>
            <div class="rewviews">105 отзывов</div>
        </td>
        <td class="description">
            <div class="delivery">Доставка: <span>з Дніпра</span></div>
            <div class="descr">Игровая приставка Sony PlayStation 4 Slim (PS4 Slim) 500GB... <span class="see-more">подробнее</span></div>
        </td>
        <td class="price">
            <span>23 000 грн</span>
        </td>
        <td class="buy-info">
            <div class="cashback">Кешбек <span>5.5 %</span></div>
            <div class="buy-now">Купити</div>
            <div class="warranty">12 міс. гарантії від магазину</div>
        </td>
    </tr>
    <tr>
        <td class="logo">
            <a href="#">
                <img src="./images/img/logo-shops/logo-4.png" alt="" width="111" height="73">
            </a>
        </td>
        <td class="info">
            <div class="title"><a href="#">royal-service.store</a></div>
            <div class="rating">оцінка: <span>8.9</span></div>
            <div class="rewviews">105 отзывов</div>
        </td>
        <td class="description">
            <div class="delivery">Доставка: <span>з Дніпра</span></div>
            <div class="descr">Игровая приставка Sony PlayStation 4 Slim (PS4 Slim) 500GB... <span class="see-more">подробнее</span></div>
        </td>
        <td class="price">
            <span>23 000 грн</span>
        </td>
        <td class="buy-info">
            <div class="cashback">Кешбек <span>5.5 %</span></div>
            <div class="buy-now">Купити</div>
            <div class="warranty">12 міс. гарантії від магазину</div>
        </td>
    </tr>
    <tr>
        <td class="logo">
            <a href="#">
                <img src="./images/img/logo-shops/logo-5.png" alt="" width="111" height="73">
            </a>
        </td>
        <td class="info">
            <div class="title"><a href="#">royal-service.store</a></div>
            <div class="rating">оцінка: <span>8.9</span></div>
            <div class="rewviews">105 отзывов</div>
        </td>
        <td class="description">
            <div class="delivery">Доставка: <span>з Дніпра</span></div>
            <div class="descr">Игровая приставка Sony PlayStation 4 Slim (PS4 Slim) 500GB... <span class="see-more">подробнее</span></div>
        </td>
        <td class="price">
            <span>23 000 грн</span>
        </td>
        <td class="buy-info">
            <div class="cashback">Кешбек <span>5.5 %</span></div>
            <div class="buy-now">Купити</div>
            <div class="warranty">12 міс. гарантії від магазину</div>
        </td>
    </tr>
    <tr>
        <td class="logo">
            <a href="#">
                <img src="./images/img/logo-shops/logo-6.png" alt="" width="111" height="73">
            </a>
        </td>
        <td class="info">
            <div class="title"><a href="#">royal-service.store</a></div>
            <div class="rating">оцінка: <span>8.9</span></div>
            <div class="rewviews">105 отзывов</div>
        </td>
        <td class="description">
            <div class="delivery">Доставка: <span>з Дніпра</span></div>
            <div class="descr">Игровая приставка Sony PlayStation 4 Slim (PS4 Slim) 500GB... <span class="see-more">подробнее</span></div>
        </td>
        <td class="price">
            <span>23 000 грн</span>
        </td>
        <td class="buy-info">
            <div class="cashback">Кешбек <span>5.5 %</span></div>
            <div class="buy-now">Купити</div>
            <div class="warranty">12 міс. гарантії від магазину</div>
        </td>
    </tr>
    <tr>
        <td class="logo">
            <a href="#">
                <img src="./images/img/logo-shops/logo-7.png" alt="" width="111" height="73">
            </a>
        </td>
        <td class="info">
            <div class="title"><a href="#">royal-service.store</a></div>
            <div class="rating">оцінка: <span>8.9</span></div>
            <div class="rewviews">105 отзывов</div>
        </td>
        <td class="description">
            <div class="delivery">Доставка: <span>з Дніпра</span></div>
            <div class="descr">Игровая приставка Sony PlayStation 4 Slim (PS4 Slim) 500GB... <span class="see-more">подробнее</span></div>
        </td>
        <td class="price">
            <span>23 000 грн</span>
        </td>
        <td class="buy-info">
            <div class="cashback">Кешбек <span>5.5 %</span></div>
            <div class="buy-now">Купити</div>
            <div class="warranty">12 міс. гарантії від магазину</div>
        </td>
    </tr>
    <tr>
        <td class="logo">
            <a href="#">
                <img src="./images/img/logo-shops/logo-8.png" alt="" width="111" height="73">
            </a>
        </td>
        <td class="info">
            <div class="title"><a href="#">royal-service.store</a></div>
            <div class="rating">оцінка: <span>8.9</span></div>
            <div class="rewviews">105 отзывов</div>
        </td>
        <td class="description">
            <div class="delivery">Доставка: <span>з Дніпра</span></div>
            <div class="descr">Игровая приставка Sony PlayStation 4 Slim (PS4 Slim) 500GB... <span class="see-more">подробнее</span></div>
        </td>
        <td class="price">
            <span>23 000 грн</span>
        </td>
        <td class="buy-info">
            <div class="cashback">Кешбек <span>5.5 %</span></div>
            <div class="buy-now">Купити</div>
            <div class="warranty">12 міс. гарантії від магазину</div>
        </td>
    </tr>
</table>