<div class="popup">
    <div class="basket-wrapper">
        <div class="block-title">Кошик</div>
        <div class="close">close</div>
        <table>
            <tr>
                <td class="image">
                    <div class="delete-td">delete</div>
                    <a href="#"><img src="./images/img/product/product-1.png" alt="" width="135" height="95"></a>
                </td>
                <td class="description">
                    <div class="product-title"><a href="#">Навушники Panasonic RP-HJE125E-K Black</a></div>
                    <div class="shop-link"><a href="#">eStore.ua</a></div>
                </td>
                <td class="price">
                    500 грн
                </td>
                <td class="count">
                    <div class="basket-item-count">
                        <a href="javascript:void(0)" class="arrow min ajax-processed">-</a>
                        <input class="count_text" size="5" type="number" value="1" min="1" max="999">
                        <a href="javascript:void(0)" class="arrow plus ajax-processed">+</a>
                    </div>
                </td>
                <td class="totlal-price">
                    500 грн
                </td>
            </tr>
            <tr>
                <td class="image">
                    <div class="delete-td">delete</div>
                    <a href="#"><img src="./images/img/product/product-1.png" alt="" width="135" height="95"></a>
                </td>
                <td class="description">
                    <div class="product-title"><a href="#">Навушники Panasonic RP-HJE125E-K Black</a></div>
                    <div class="shop-link"><a href="#">eStore.ua</a></div>
                </td>
                <td class="price">
                    500 грн
                </td>
                <td class="count">
                    <div class="basket-item-count">
                        <a href="javascript:void(0)" class="arrow min ajax-processed">-</a>
                        <input class="count_text" size="5" type="number" value="1" min="1" max="999">
                        <a href="javascript:void(0)" class="arrow plus ajax-processed">+</a>
                    </div>
                </td>
                <td class="totlal-price">
                    500 грн
                </td>
            </tr>
            <tr>
                <td class="image">
                    <div class="delete-td">delete</div>
                    <a href="#"><img src="./images/img/product/product-1.png" alt="" width="135" height="95"></a>
                </td>
                <td class="description">
                    <div class="product-title"><a href="#">Навушники Panasonic RP-HJE125E-K Black</a></div>
                    <div class="shop-link"><a href="#">eStore.ua</a></div>
                </td>
                <td class="price">
                    500 грн
                </td>
                <td class="count">
                    <div class="basket-item-count">
                        <a href="javascript:void(0)" class="arrow min">-</a>
                        <input class="count_text" size="5" type="number" value="1" min="1" max="999">
                        <a href="javascript:void(0)" class="arrow plus">+</a>
                    </div>
                </td>
                <td class="totlal-price">
                    500 грн
                </td>
            </tr>
        </table>
        <div class="total-price">
            <div class="sum">1500 грн</div>
        </div>
        <div class="button-basket-event">
            <div class="continue-shopping">Продовжити покупки</div>
            <div class="btn-order">Оформити замовлення</div>
        </div>
    </div>
</div>