<footer id="footer" class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="logo">
                <a href="#">
                    <img src="./images/logo.svg" alt="Globus">
                    <span>Глобус</span>
                </a>
            </div>
            <div class="footer-menu">
                <ul class="menu">
                    <li>
                        <a href="#">План маркетинга</a>
                    </li>
                    <li>
                        <a href="#">Правила пользования</a>
                    </li>
                    <li>
                        <a href="#">О компании</a>
                    </li>
                    <li>
                        <a href="#">Политика конфиденциальности</a>
                    </li>
                    <li>
                        <a href="#">Частые вопросы</a>
                    </li>
                    <li>
                        <a href="#">Поддержка</a>
                    </li>
                    <li>
                        <a href="#">Обучение</a>
                    </li>
                    <li>
                        <a href="#">Миссия</a>
                    </li>
                </ul>
            </div>
            <div class="footer-link-wrapper">
                <div class="login-sellers">
                    <a href="#">Вхід для продавців</a>
                </div>
                <ul class="social-links">
                    <li class="item facebook">
                        <a href="#"><img src="./images/icons/facebook-ico.svg" alt="facebook"></a>
                    </li>
                    <li class="item youtube">
                        <a href="#"><img src="./images/icons/youtube-ico.svg" alt="youtube"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="copyright">© Globus 2018 Всі права захищені</div>
            <div id="gl_devel">
                <span><img src="./images/icons/g.png" alt="">Глянець</span> – <a href="http://glyanec.net/">розробка сайтів</a>
            </div>
        </div>
    </div>
</footer>