<div class="midle">
    //= ./slider-front.html
    <div class="hot-goods">
        <div class="container">
            <div class="block-title">Гарячі товари</div>
            <div class="product-wrapper">
                <div class="product-item">
                    <div class="content">
                        <div class="label">
                            <div class="label-item offer-day">Пропозиція дня</div>
                            <div class="label-item new">Новинка</div>
                        </div>
                        <div class="product-image">
                            <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
                        </div>
                        <div class="rating">
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                        <div class="vendoer">
                            <span class="lablel">Код товару:</span>
                            <div class="value">4587642</div>
                        </div>
                        <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
                        <div class="group-block">
                            <div class="price">
                                <span class="prefix">від</span>
                                <span class="price-value">11 499</span>
                                <span class="currency">грн</span>
                            </div>
                            <div class="buttons-addto">
                                <div class="compare"></div>
                                <div class="favorites"></div>
                            </div>
                        </div>
                        <div class="buy-btn">Купити</div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="content">
                        <div class="label">
                            <div class="label-item offer-day">Пропозиція дня</div>
                            <div class="label-item bestseller">Хіт продажів</div>
                        </div>
                        <div class="product-image">
                            <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
                        </div>
                        <div class="rating">
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                        <div class="vendoer">
                            <span class="lablel">Код товару:</span>
                            <div class="value">4587642</div>
                        </div>
                        <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
                        <div class="group-block">
                            <div class="price">
                                <span class="prefix">від</span>
                                <span class="price-value">11 499</span>
                                <span class="currency">грн</span>
                            </div>
                            <div class="buttons-addto">
                                <div class="compare"></div>
                                <div class="favorites"></div>
                            </div>
                        </div>
                        <div class="buy-btn">Купити</div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="content">
                        <div class="label">
                            <div class="label-item stock">Акція</div>
                        </div>
                        <div class="product-image">
                            <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
                        </div>
                        <div class="rating">
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                        <div class="vendoer">
                            <span class="lablel">Код товару:</span>
                            <div class="value">4587642</div>
                        </div>
                        <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
                        <div class="group-block">
                            <div class="price">
                                <span class="prefix">від</span>
                                <span class="price-value">11 499</span>
                                <span class="currency">грн</span>
                            </div>
                            <div class="buttons-addto">
                                <div class="compare"></div>
                                <div class="favorites"></div>
                            </div>
                        </div>
                        <div class="buy-btn">Купити</div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="content">
                        <div class="label">
                            <div class="label-item offer-day">Пропозиція дня</div>
                            <div class="label-item new">Новинка</div>
                        </div>
                        <div class="product-image">
                            <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
                        </div>
                        <div class="rating">
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                        <div class="vendoer">
                            <span class="lablel">Код товару:</span>
                            <div class="value">4587642</div>
                        </div>
                        <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
                        <div class="group-block">
                            <div class="price">
                                <span class="prefix">від</span>
                                <span class="price-value">11 499</span>
                                <span class="currency">грн</span>
                            </div>
                            <div class="buttons-addto">
                                <div class="compare"></div>
                                <div class="favorites"></div>
                            </div>
                        </div>
                        <div class="buy-btn">Купити</div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="content">
                        <div class="label">
                            <div class="label-item offer-day">Пропозиція дня</div>
                            <div class="label-item bestseller">Хіт продажів</div>
                        </div>
                        <div class="product-image">
                            <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
                        </div>
                        <div class="rating">
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                        <div class="vendoer">
                            <span class="lablel">Код товару:</span>
                            <div class="value">4587642</div>
                        </div>
                        <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
                        <div class="group-block">
                            <div class="price">
                                <span class="prefix">від</span>
                                <span class="price-value">11 499</span>
                                <span class="currency">грн</span>
                            </div>
                            <div class="buttons-addto">
                                <div class="compare"></div>
                                <div class="favorites"></div>
                            </div>
                        </div>
                        <div class="buy-btn">Купити</div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="content">
                        <div class="label">
                            <div class="label-item stock">Акція</div>
                        </div>
                        <div class="product-image">
                            <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
                        </div>
                        <div class="rating">
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                        <div class="vendoer">
                            <span class="lablel">Код товару:</span>
                            <div class="value">4587642</div>
                        </div>
                        <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
                        <div class="group-block">
                            <div class="price">
                                <span class="prefix">від</span>
                                <span class="price-value">11 499</span>
                                <span class="currency">грн</span>
                            </div>
                            <div class="buttons-addto">
                                <div class="compare"></div>
                                <div class="favorites"></div>
                            </div>
                        </div>
                        <div class="buy-btn">Купити</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="goods-category">
        <div class="container">
            <div class="block-title">Категорії товарів</div>
            <div class="category-wrapper">
                <div class="category-item">
                    <div class="category-image">
                        <a href="#">
                            <img src="./images/img/product-category/category-1.png" alt="" width="221" height="144">
                        </a>
                    </div>
                    <div class="category-title">
                        <a href="#">Книги та аудіо</a>
                    </div>
                </div>
                <div class="category-item">
                    <div class="category-image">
                        <a href="#">
                            <img src="./images/img/product-category/category-2.png" alt="" width="221" height="144">
                        </a>
                    </div>
                    <div class="category-title">
                        <a href="#">Фільми, музика та ігри</a>
                    </div>
                </div>
                <div class="category-item">
                    <div class="category-image">
                        <a href="#">
                            <img src="./images/img/product-category/category-3.png" alt="" width="221" height="144">
                        </a>
                    </div>
                    <div class="category-title">
                        <a href="#">Електроніка, комп'ютери і офіс</a>
                    </div>
                </div>
                <div class="category-item">
                    <div class="category-image">
                        <a href="#">
                            <img src="./images/img/product-category/category-4.png" alt="" width="221" height="144">
                        </a>
                    </div>
                    <div class="category-title">
                        <a href="#">Будинок, сад, домашні тварини і інструменти</a>
                    </div>
                </div>
                <div class="category-item">
                    <div class="category-image">
                        <a href="#">
                            <img src="./images/img/product-category/category-5.png" alt="" width="221" height="144">
                        </a>
                    </div>
                    <div class="category-title">
                        <a href="#">Продукти харчування та бакалійні товари</a>
                    </div>
                </div>
                <div class="category-item">
                    <div class="category-image">
                        <a href="#">
                            <img src="./images/img/product-category/category-6.png" alt="" width="221" height="144">
                        </a>
                    </div>
                    <div class="category-title">
                        <a href="#">Краса і здоров'я</a>
                    </div>
                </div>
                <div class="category-item">
                    <div class="category-image">
                        <a href="#">
                            <img src="./images/img/product-category/category-7.png" alt="" width="221" height="144">
                        </a>
                    </div>
                    <div class="category-title">
                        <a href="#">Іграшки, Діти і Немовлята</a>
                    </div>
                </div>
                <div class="category-item">
                    <div class="category-image">
                        <a href="#">
                            <img src="./images/img/product-category/category-8.png" alt="" width="221" height="144">
                        </a>
                    </div>
                    <div class="category-title">
                        <a href="#">Одяг, взуття та ювелірні вироби</a>
                    </div>
                </div>
                <div class="category-item">
                    <div class="category-image">
                        <a href="#">
                            <img src="./images/img/product-category/category-9.png" alt="" width="221" height="144">
                        </a>
                    </div>
                    <div class="category-title">
                        <a href="#">Спорт і активний відпочинок</a>
                    </div>
                </div>
                <div class="category-item">
                    <div class="category-image">
                        <a href="#">
                            <img src="./images/img/product-category/category-10.png" alt="" width="221" height="144">
                        </a>
                    </div>
                    <div class="category-title">
                        <a href="#">Автомобільні та промислові</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="stock-goods">
        <div class="container">
            <div class="block-title">Акції</div>
            <div class="product-wrapper">
                <div class="product-item">
                    <div class="content">
                        <div class="label">
                            <div class="label-item stock">Акція</div>
                        </div>
                        <div class="product-image">
                            <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
                        </div>
                        <div class="rating">
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                        <div class="vendoer">
                            <span class="lablel">Код товару:</span>
                            <div class="value">4587642</div>
                        </div>
                        <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
                        <div class="group-block">
                            <div class="price">
                                <span class="prefix">від</span>
                                <span class="price-value">11 499</span>
                                <span class="currency">грн</span>
                            </div>
                            <div class="buttons-addto">
                                <div class="compare"></div>
                                <div class="favorites"></div>
                            </div>
                        </div>
                        <div class="buy-btn">Купити</div>
                    </div>
                    <div class="stock-counter">
                        <div class="counter-label">До кінця акції залишилось:</div>
                        <div class="counter">
                            <div class="counter-item day">
                                <div class="number">05</div>
                                <div class="text">дні</div>
                            </div>
                            <div class="dots">:</div>
                            <div class="counter-item hour">
                                <div class="number">10</div>
                                <div class="text">год</div>
                            </div>
                            <div class="dots">:</div>
                            <div class="counter-item minute">
                                <div class="number">03</div>
                                <div class="text">хв</div>
                            </div>
                            <div class="dots">:</div>
                            <div class="counter-item second">
                                <div class="number">36</div>
                                <div class="text">сек</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="content">
                        <div class="label">
                            <div class="label-item stock">Акція</div>
                        </div>
                        <div class="product-image">
                            <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
                        </div>
                        <div class="rating">
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                        <div class="vendoer">
                            <span class="lablel">Код товару:</span>
                            <div class="value">4587642</div>
                        </div>
                        <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
                        <div class="group-block">
                            <div class="price">
                                <span class="prefix">від</span>
                                <span class="price-value">11 499</span>
                                <span class="currency">грн</span>
                            </div>
                            <div class="buttons-addto">
                                <div class="compare"></div>
                                <div class="favorites"></div>
                            </div>
                        </div>
                        <div class="buy-btn">Купити</div>
                    </div>
                    <div class="stock-counter">
                        <div class="counter-label">До кінця акції залишилось:</div>
                        <div class="counter">
                            <div class="counter-item day">
                                <div class="number">05</div>
                                <div class="text">дні</div>
                            </div>
                            <div class="dots">:</div>
                            <div class="counter-item hour">
                                <div class="number">10</div>
                                <div class="text">год</div>
                            </div>
                            <div class="dots">:</div>
                            <div class="counter-item minute">
                                <div class="number">03</div>
                                <div class="text">хв</div>
                            </div>
                            <div class="dots">:</div>
                            <div class="counter-item second">
                                <div class="number">36</div>
                                <div class="text">сек</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="content">
                        <div class="label">
                            <div class="label-item stock">Акція</div>
                        </div>
                        <div class="product-image">
                            <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
                        </div>
                        <div class="rating">
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                        <div class="vendoer">
                            <span class="lablel">Код товару:</span>
                            <div class="value">4587642</div>
                        </div>
                        <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
                        <div class="group-block">
                            <div class="price">
                                <span class="prefix">від</span>
                                <span class="price-value">11 499</span>
                                <span class="currency">грн</span>
                            </div>
                            <div class="buttons-addto">
                                <div class="compare"></div>
                                <div class="favorites"></div>
                            </div>
                        </div>
                        <div class="buy-btn">Купити</div>
                    </div>
                    <div class="stock-counter">
                        <div class="counter-label">До кінця акції залишилось:</div>
                        <div class="counter">
                            <div class="counter-item day">
                                <div class="number">05</div>
                                <div class="text">дні</div>
                            </div>
                            <div class="dots">:</div>
                            <div class="counter-item hour">
                                <div class="number">10</div>
                                <div class="text">год</div>
                            </div>
                            <div class="dots">:</div>
                            <div class="counter-item minute">
                                <div class="number">03</div>
                                <div class="text">хв</div>
                            </div>
                            <div class="dots">:</div>
                            <div class="counter-item second">
                                <div class="number">36</div>
                                <div class="text">сек</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="content">
                        <div class="label">
                            <div class="label-item stock">Акція</div>
                        </div>
                        <div class="product-image">
                            <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
                        </div>
                        <div class="rating">
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                        <div class="vendoer">
                            <span class="lablel">Код товару:</span>
                            <div class="value">4587642</div>
                        </div>
                        <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
                        <div class="group-block">
                            <div class="price">
                                <span class="prefix">від</span>
                                <span class="price-value">11 499</span>
                                <span class="currency">грн</span>
                            </div>
                            <div class="buttons-addto">
                                <div class="compare"></div>
                                <div class="favorites"></div>
                            </div>
                        </div>
                        <div class="buy-btn">Купити</div>
                    </div>
                    <div class="stock-counter">
                        <div class="counter-label">До кінця акції залишилось:</div>
                        <div class="counter">
                            <div class="counter-item day">
                                <div class="number">05</div>
                                <div class="text">дні</div>
                            </div>
                            <div class="dots">:</div>
                            <div class="counter-item hour">
                                <div class="number">10</div>
                                <div class="text">год</div>
                            </div>
                            <div class="dots">:</div>
                            <div class="counter-item minute">
                                <div class="number">03</div>
                                <div class="text">хв</div>
                            </div>
                            <div class="dots">:</div>
                            <div class="counter-item second">
                                <div class="number">36</div>
                                <div class="text">сек</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="new-goods">
        <div class="container">
            <div class="block-title">Популярні товари</div>
            <div class="product-wrapper">
                <div class="product-item">
                    <div class="content">
                        <div class="label">
                            <div class="label-item new">Новинка</div>
                        </div>
                        <div class="product-image">
                            <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
                        </div>
                        <div class="rating">
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                        <div class="vendoer">
                            <span class="lablel">Код товару:</span>
                            <div class="value">4587642</div>
                        </div>
                        <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
                        <div class="group-block">
                            <div class="price">
                                <span class="prefix">від</span>
                                <span class="price-value">11 499</span>
                                <span class="currency">грн</span>
                            </div>
                            <div class="buttons-addto">
                                <div class="compare"></div>
                                <div class="favorites"></div>
                            </div>
                        </div>
                        <div class="buy-btn">Купити</div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="content">
                        <div class="label">
                            <div class="label-item new">Новинка</div>
                        </div>
                        <div class="product-image">
                            <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
                        </div>
                        <div class="rating">
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                        <div class="vendoer">
                            <span class="lablel">Код товару:</span>
                            <div class="value">4587642</div>
                        </div>
                        <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
                        <div class="group-block">
                            <div class="price">
                                <span class="prefix">від</span>
                                <span class="price-value">11 499</span>
                                <span class="currency">грн</span>
                            </div>
                            <div class="buttons-addto">
                                <div class="compare"></div>
                                <div class="favorites"></div>
                            </div>
                        </div>
                        <div class="buy-btn">Купити</div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="content">
                        <div class="label">
                            <div class="label-item new">Новинка</div>
                        </div>
                        <div class="product-image">
                            <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
                        </div>
                        <div class="rating">
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                        <div class="vendoer">
                            <span class="lablel">Код товару:</span>
                            <div class="value">4587642</div>
                        </div>
                        <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
                        <div class="group-block">
                            <div class="price">
                                <span class="prefix">від</span>
                                <span class="price-value">11 499</span>
                                <span class="currency">грн</span>
                            </div>
                            <div class="buttons-addto">
                                <div class="compare"></div>
                                <div class="favorites"></div>
                            </div>
                        </div>
                        <div class="buy-btn">Купити</div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="content">
                        <div class="label">
                            <div class="label-item new">Новинка</div>
                        </div>
                        <div class="product-image">
                            <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
                        </div>
                        <div class="rating">
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                        <div class="vendoer">
                            <span class="lablel">Код товару:</span>
                            <div class="value">4587642</div>
                        </div>
                        <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
                        <div class="group-block">
                            <div class="price">
                                <span class="prefix">від</span>
                                <span class="price-value">11 499</span>
                                <span class="currency">грн</span>
                            </div>
                            <div class="buttons-addto">
                                <div class="compare"></div>
                                <div class="favorites"></div>
                            </div>
                        </div>
                        <div class="buy-btn">Купити</div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="content">
                        <div class="label">
                            <div class="label-item new">Новинка</div>
                        </div>
                        <div class="product-image">
                            <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
                        </div>
                        <div class="rating">
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                        <div class="vendoer">
                            <span class="lablel">Код товару:</span>
                            <div class="value">4587642</div>
                        </div>
                        <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
                        <div class="group-block">
                            <div class="price">
                                <span class="prefix">від</span>
                                <span class="price-value">11 499</span>
                                <span class="currency">грн</span>
                            </div>
                            <div class="buttons-addto">
                                <div class="compare"></div>
                                <div class="favorites"></div>
                            </div>
                        </div>
                        <div class="buy-btn">Купити</div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="content">
                        <div class="label">
                            <div class="label-item new">Новинка</div>
                        </div>
                        <div class="product-image">
                            <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
                        </div>
                        <div class="rating">
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star star-active"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                        <div class="vendoer">
                            <span class="lablel">Код товару:</span>
                            <div class="value">4587642</div>
                        </div>
                        <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
                        <div class="group-block">
                            <div class="price">
                                <span class="prefix">від</span>
                                <span class="price-value">11 499</span>
                                <span class="currency">грн</span>
                            </div>
                            <div class="buttons-addto">
                                <div class="compare"></div>
                                <div class="favorites"></div>
                            </div>
                        </div>
                        <div class="buy-btn">Купити</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-company">
        <div class="container">
            <div class="block-image">
                <img src="./images/about-company.png" alt="" width="600" height="283">
            </div>
            <div class="block-description">
                <div class="block-title">Про компанію</div>
                <div class="description">
                    <p>Ми пропонуємо широкий асортимент <span>електроніки, побутової техніки і різних споживчих товарів від одягу до алкогольних напоїв.</span>
                        Наш сайт у середньому відвідують понад <span>2 000 000 унікальних відвідувачів на день</span>, і це число й далі зростає. Не зупиняючись на досягнутому, ми продовжуємо нарощувати оберти, прагнучи стати найкращим у країні <span>інтернет-супермаркетом</span> - місцем, де ви зможете вибрати та придбати <span>будь-які товари</span> - усвідомлено, недорого і зручно.</p>
                    <p>Нашою головною метою і основним принципом у роботі є <span>задоволеність клієнтів</span> - як роздрібних покупців, так і організацій. З деякими компаніями ми співпрацюємо вже понад 10 років. У вирішенні будь-яких питань <span>ми завжди на вашому боці</span>, тому що розуміємо - наше майбутнє на 100% у ваших руках.</p>
                </div>
                <div class="see-more-btn">Детальніше</div>
            </div>
        </div>
    </div>
</div>
