<header id="header" class="header">
    <div class="header-top">
        <div class="container">
            <nav class="maine-menu">
                <ul class="menu">
                    <li>
                        <a href="#">Доставка</a>
                    </li>
                    <li>
                        <a href="#">Гарантія</a>
                    </li>
                    <li>
                        <a href="#">Кредит</a>
                    </li>
                    <li>
                        <a href="#">Часті питання</a>
                    </li>
                    <li>
                        <a href="#">Продавцям</a>
                    </li>
                </ul>
            </nav>
            <div class="user-info-wrapper">
                <div class="user">Вітаємо, <span class="name">Сергій!</span></div>
                <div class="cash-balance">
                    <div class="maine-balance">₴ 123.45</div>
                    <div class="pending-balance">(₴ 456.45)</div>
                </div>
            </div>
            <div class="user-area">
                <a href="#" class="user-link">Мій Глобус</a>
            </div>
            <div class="language-switcher">
                <ul class="language">
                    <li>
                        <a class="active" href="#">ua</a>
                    </li>
                    <li>
                        <a href="#">ru</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-content">
        <div class="container">
            <div class="logo">
                <a href="#">
                    <img src="./images/logo.svg" alt="Globus">
                    <span>Глобус</span>
                </a>
            </div>
            <div class="search-block">
                <form>
                    <input class="search" type="search" name="q" placeholder="Що-небудь шукаєте?"> 
                    <input class="submit-btn" type="submit" value="Пошук">
                </form>
            </div>
            <div class="user-buttons">
                <div class="user-button compare">
                    <a href="#">
                        <span>Порівняння</span>
                        <span class="count">2</span>
                    </a>
                </div>
                <div class="user-button favorites">
                    <a href="#">
                        <span>Побажання</span>
                        <span class="count">5</span>
                    </a>
                </div>
                <div class="user-button basket">
                    <a href="#">
                        <span>Корзина</span>
                        <span class="count">2</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-menu">
        <div class="container">
            <ul class="menu-catalog">
                <li class="catalog-link">
                    <a href="#">
                        <span class="icon-menu"></span>
                        <span>Каталог</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="#">Samsung Galaxy S10</a>
                </li>
                <li class="menu-item">
                    <a href="#">Intel Core i9-7900X</a>
                </li>
                <li class="menu-item">
                    <a href="#">Intel Pentium G4400 3.3GHz</a>
                </li>
                <li class="menu-item">
                    <a href="#">Intel Core i9-7900X</a>
                </li>
                <li class="menu-item">
                    <a href="#">Intel Pentium G4400 3.3GHz</a>
                </li>
                <li class="menu-item">
                    <a href="#">...</a>
                </li>
            </ul>
        </div>
    </div>
</header>