<header id="header" class="header lk-seller">
    <div class="header-top">
        <div class="container">
            <nav class="maine-menu">
                <ul class="menu">
                    <li>
                        <a href="#">Магазин</a>
                    </li>
                    <li>
                        <a href="#">История платежей</a>
                    </li>
                    <li>
                        <a href="#">Продажи</a>
                    </li>
                    <li>
                        <a href="#">Отзывы</a>
                    </li>
                    <li>
                        <a href="#">Доставка</a>
                    </li>
                    <li>
                        <a href="#">Внутренняя почта</a>
                    </li>
                    <li>
                        <a href="#">Настройки</a>
                    </li>
                    <li>
                        <a href="#">Формы типовых договоров</a>
                    </li>
                    <li>
                        <a href="#">Справочники</a>
                    </li>
                </ul>
            </nav>
            <div class="language-switcher">
                <ul class="language">
                    <li>
                        <a class="active" href="#">ua</a>
                    </li>
                    <li>
                        <a href="#">ru</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-content">
        <div class="container">
            <div class="logo">
                <a href="#">
                    <img src="./images/logo.svg" alt="Globus">
                    <span>Глобус</span>
                </a>
            </div>
            <div class="search-block">
                <form>
                    <input class="search" type="search" name="q" placeholder="Що-небудь шукаєте?"> 
                    <input class="submit-btn" type="submit" value="Пошук">
                </form>
            </div>
            <div class="user-seller-info">
                <div class="message">
                    <a href="#"><span class="message-count">2</span></a>
                </div>
                <div class="cash-balance">
                    <div class="available-balance">₴ 123.45</div>
                    <div class="expected-balance">₴ 456.45</div>
                </div>
                <div class="user-info">
                    <div class="user-name"><a href="#">Иванов Сергей</a></div>
                    <div class="seller-type">Частное лицо</div>
                </div>
            </div>
        </div>
    </div>
</header>