<div class="filters-wrapper">
    <div class="price-filter filter">
        <div class="form-label">Ціна (грн)</div>
        <p>
                <input type="text" class="amount-min">
                <input type="text" class="amount-max">
        </p>
        <div id="slider-range"></div>
    </div>
    <div class="condition-filter filter">
        <div class="form-label">Стан</div>
        <div class="checkbox">
            <input type="checkbox" id="new" name="new">
            <label for="new">
                Новое <span class="result">(190)</span>
                <span class="result-wrapper">
                    <span class="label">
                        <span>Знайдено товарів:</span>
                        <span class="count">190</span>
                    </span>
                    <span class="submit">Переглянути</span>
                    <span class="close">Закрити</span>
                </span>
            </label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="used" name="used">
            <label for="used">
                Б/У <span class="result">(10)</span>
                <span class="result-wrapper">
                    <span class="label">
                        <span>Знайдено товарів:</span>
                        <span class="count">10</span>
                    </span>
                    <span class="submit">Переглянути</span>
                    <span class="close">Закрити</span>
                </span>
            </label>
        </div>
    </div>
    <div class="condition-filter filter">
        <div class="form-label">Виробник</div>
        <div class="checkbox">
            <input type="checkbox" id="apple" name="apple">
            <label for="apple">
                Apple <span class="result">(213)</span>
                <span class="result-wrapper">
                    <span class="label">
                        <span>Знайдено товарів:</span>
                        <span class="count">213</span>
                    </span>
                    <span class="submit">Переглянути</span>
                    <span class="close">Закрити</span>
                </span>
            </label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="hp" name="hp">
            <label for="hp">
                HP<span class="result">(113)</span>
                <span class="result-wrapper">
                    <span class="label">
                        <span>Знайдено товарів:</span>
                        <span class="count">113</span>
                    </span>
                    <span class="submit">Переглянути</span>
                    <span class="close">Закрити</span>
                </span>
            </label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="dell" name="dell">
            <label for="dell">
                Dell<span class="result">(113)</span>
                <span class="result-wrapper">
                    <span class="label">
                        <span>Знайдено товарів:</span>
                        <span class="count">113</span>
                    </span>
                    <span class="submit">Переглянути</span>
                    <span class="close">Закрити</span>
                </span>
            </label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="asus" name="asus">
            <label for="asus">
                Asus<span class="result">(113)</span>
                <span class="result-wrapper">
                    <span class="label">
                        <span>Знайдено товарів:</span>
                        <span class="count">113</span>
                    </span>
                    <span class="submit">Переглянути</span>
                    <span class="close">Закрити</span>
                </span>
            </label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="acer" name="acer">
            <label for="acer">
                Acer<span class="result">(113)</span>
                <span class="result-wrapper">
                    <span class="label">
                        <span>Знайдено товарів:</span>
                        <span class="count">113</span>
                    </span>
                    <span class="submit">Переглянути</span>
                    <span class="close">Закрити</span>
                </span>
            </label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="lenovo" name="lenovo">
            <label for="lenovo">
                Lenovo<span class="result">(113)</span>
                <span class="result-wrapper">
                    <span class="label">
                        <span>Знайдено товарів:</span>
                        <span class="count">113</span>
                    </span>
                    <span class="submit">Переглянути</span>
                    <span class="close">Закрити</span>
                </span>
            </label>
        </div>
    </div>
    <div class="type-filter filter">
        <div class="form-label">Тип</div>
        <div class="checkbox">
            <input type="checkbox" id="notebook" name="notebook">
            <label for="notebook">
                Ноутбук <span class="result">(190)</span>
                <span class="result-wrapper">
                    <span class="label">
                        <span>Знайдено товарів:</span>
                        <span class="count">190</span>
                    </span>
                    <span class="submit">Переглянути</span>
                    <span class="close">Закрити</span>
                </span>
            </label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="netbook" name="netbook">
            <label for="netbook">
                Нетбук <span class="result">(10)</span>
                <span class="result-wrapper">
                    <span class="label">
                        <span>Знайдено товарів:</span>
                        <span class="count">10</span>
                    </span>
                    <span class="submit">Переглянути</span>
                    <span class="close">Закрити</span>
                </span>
            </label>
        </div>
    </div>
    <div class="os-type-filter filter">
        <div class="form-label">Попередньо встановлено ОС</div>
        <div class="checkbox">
            <input type="checkbox" id="windows" name="windows">
            <label for="windows">
                Windows <span class="result">(190)</span>
                <span class="result-wrapper">
                    <span class="label">
                        <span>Знайдено товарів:</span>
                        <span class="count">190</span>
                    </span>
                    <span class="submit">Переглянути</span>
                    <span class="close">Закрити</span>
                </span>
            </label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="linux" name="linux">
            <label for="linux">
                Linux <span class="result">(10)</span>
                <span class="result-wrapper">
                    <span class="label">
                        <span>Знайдено товарів:</span>
                        <span class="count">10</span>
                    </span>
                    <span class="submit">Переглянути</span>
                    <span class="close">Закрити</span>
                </span>
            </label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="macos" name="macos">
            <label for="macos">
                MacOS X <span class="result">(10)</span>
                <span class="result-wrapper">
                    <span class="label">
                        <span>Знайдено товарів:</span>
                        <span class="count">10</span>
                    </span>
                    <span class="submit">Переглянути</span>
                    <span class="close">Закрити</span>
                </span>
            </label>
        </div>
    </div>
    <div class="color-filter filter">
        <div class="form-label">Колір</div>
        <div class="checkbox">
            <input type="checkbox" id="grey" name="grey">
            <label for="grey">
                Сірий <span class="result">(190)</span>
                <span class="result-wrapper">
                    <span class="label">
                        <span>Знайдено товарів:</span>
                        <span class="count">190</span>
                    </span>
                    <span class="submit">Переглянути</span>
                    <span class="close">Закрити</span>
                </span>
            </label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="white" name="white">
            <label for="white">
                Білий <span class="result">(110)</span>
                <span class="result-wrapper">
                    <span class="label">
                        <span>Знайдено товарів:</span>
                        <span class="count">110</span>
                    </span>
                    <span class="submit">Переглянути</span>
                    <span class="close">Закрити</span>
                </span>
            </label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="black" name="black">
            <label for="black">
                Чорний <span class="result">(101)</span>
                <span class="result-wrapper">
                    <span class="label">
                        <span>Знайдено товарів:</span>
                        <span class="count">101</span>
                    </span>
                    <span class="submit">Переглянути</span>
                    <span class="close">Закрити</span>
                </span>
            </label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="red" name="red">
            <label for="red">
                Червоний <span class="result">(30)</span>
                <span class="result-wrapper">
                    <span class="label">
                        <span>Знайдено товарів:</span>
                        <span class="count">30</span>
                    </span>
                    <span class="submit">Переглянути</span>
                    <span class="close">Закрити</span>
                </span>
            </label>
        </div>
    </div>
</div>