<div class="sort-wrapper">
    <div class="label">Сортування:</div>
    <select name="sort-by" id="sort-by">
        <option value="від дорогих до дешевих">від дорогих до дешевих</option>
        <option value="від дешевих до дорогих">від дешевих до дорогих</option>
        <option value="за рейтингом">за рейтингом</option>
        <option value="популярні">популярні</option>
    </select>
</div>
<div class="goods-all-wrapper">
    <div class="product-item">
        <div class="content">
            <div class="label">
                <div class="label-item offer-day">Пропозиція дня</div>
                <div class="label-item new">Новинка</div>
            </div>
            <div class="product-image">
                <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
            </div>
            <div class="rating">
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
            <div class="vendoer">
                <span class="lablel">Код товару:</span>
                <div class="value">4587642</div>
            </div>
            <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
            <div class="group-block">
                <div class="price">
                    <span class="prefix">від</span>
                    <span class="price-value">11 499</span>
                    <span class="currency">грн</span>
                </div>
                <div class="buttons-addto">
                    <div class="compare"></div>
                    <div class="favorites"></div>
                </div>
            </div>
            <div class="buy-btn">Купити</div>
        </div>
    </div>
    <div class="product-item">
        <div class="content">
            <div class="label">
                <div class="label-item offer-day">Пропозиція дня</div>
                <div class="label-item bestseller">Хіт продажів</div>
            </div>
            <div class="product-image">
                <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
            </div>
            <div class="rating">
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
            <div class="vendoer">
                <span class="lablel">Код товару:</span>
                <div class="value">4587642</div>
            </div>
            <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
            <div class="group-block">
                <div class="price">
                    <span class="prefix">від</span>
                    <span class="price-value">11 499</span>
                    <span class="currency">грн</span>
                </div>
                <div class="buttons-addto">
                    <div class="compare"></div>
                    <div class="favorites"></div>
                </div>
            </div>
            <div class="buy-btn">Купити</div>
        </div>
    </div>
    <div class="product-item">
        <div class="content">
            <div class="label">
                <div class="label-item stock">Акція</div>
            </div>
            <div class="product-image">
                <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
            </div>
            <div class="rating">
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
            <div class="vendoer">
                <span class="lablel">Код товару:</span>
                <div class="value">4587642</div>
            </div>
            <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
            <div class="group-block">
                <div class="price">
                    <span class="prefix">від</span>
                    <span class="price-value">11 499</span>
                    <span class="currency">грн</span>
                </div>
                <div class="buttons-addto">
                    <div class="compare"></div>
                    <div class="favorites"></div>
                </div>
            </div>
            <div class="buy-btn">Купити</div>
        </div>
    </div>
    <div class="product-item">
        <div class="content">
            <div class="label">
                <div class="label-item offer-day">Пропозиція дня</div>
                <div class="label-item new">Новинка</div>
            </div>
            <div class="product-image">
                <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
            </div>
            <div class="rating">
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
            <div class="vendoer">
                <span class="lablel">Код товару:</span>
                <div class="value">4587642</div>
            </div>
            <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
            <div class="group-block">
                <div class="price">
                    <span class="prefix">від</span>
                    <span class="price-value">11 499</span>
                    <span class="currency">грн</span>
                </div>
                <div class="buttons-addto">
                    <div class="compare"></div>
                    <div class="favorites"></div>
                </div>
            </div>
            <div class="buy-btn">Купити</div>
        </div>
    </div>
    <div class="product-item">
        <div class="content">
            <div class="label">
                <div class="label-item offer-day">Пропозиція дня</div>
                <div class="label-item bestseller">Хіт продажів</div>
            </div>
            <div class="product-image">
                <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
            </div>
            <div class="rating">
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
            <div class="vendoer">
                <span class="lablel">Код товару:</span>
                <div class="value">4587642</div>
            </div>
            <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
            <div class="group-block">
                <div class="price">
                    <span class="prefix">від</span>
                    <span class="price-value">11 499</span>
                    <span class="currency">грн</span>
                </div>
                <div class="buttons-addto">
                    <div class="compare"></div>
                    <div class="favorites"></div>
                </div>
            </div>
            <div class="buy-btn">Купити</div>
        </div>
    </div>
    <div class="product-item">
        <div class="content">
            <div class="label">
                <div class="label-item stock">Акція</div>
            </div>
            <div class="product-image">
                <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
            </div>
            <div class="rating">
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
            <div class="vendoer">
                <span class="lablel">Код товару:</span>
                <div class="value">4587642</div>
            </div>
            <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
            <div class="group-block">
                <div class="price">
                    <span class="prefix">від</span>
                    <span class="price-value">11 499</span>
                    <span class="currency">грн</span>
                </div>
                <div class="buttons-addto">
                    <div class="compare"></div>
                    <div class="favorites"></div>
                </div>
            </div>
            <div class="buy-btn">Купити</div>
        </div>
    </div>
    <div class="product-item">
        <div class="content">
            <div class="label">
                <div class="label-item offer-day">Пропозиція дня</div>
                <div class="label-item new">Новинка</div>
            </div>
            <div class="product-image">
                <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
            </div>
            <div class="rating">
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
            <div class="vendoer">
                <span class="lablel">Код товару:</span>
                <div class="value">4587642</div>
            </div>
            <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
            <div class="group-block">
                <div class="price">
                    <span class="prefix">від</span>
                    <span class="price-value">11 499</span>
                    <span class="currency">грн</span>
                </div>
                <div class="buttons-addto">
                    <div class="compare"></div>
                    <div class="favorites"></div>
                </div>
            </div>
            <div class="buy-btn">Купити</div>
        </div>
    </div>
    <div class="product-item">
        <div class="content">
            <div class="label">
                <div class="label-item offer-day">Пропозиція дня</div>
                <div class="label-item bestseller">Хіт продажів</div>
            </div>
            <div class="product-image">
                <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
            </div>
            <div class="rating">
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
            <div class="vendoer">
                <span class="lablel">Код товару:</span>
                <div class="value">4587642</div>
            </div>
            <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
            <div class="group-block">
                <div class="price">
                    <span class="prefix">від</span>
                    <span class="price-value">11 499</span>
                    <span class="currency">грн</span>
                </div>
                <div class="buttons-addto">
                    <div class="compare"></div>
                    <div class="favorites"></div>
                </div>
            </div>
            <div class="buy-btn">Купити</div>
        </div>
    </div>
    <div class="product-item">
        <div class="content">
            <div class="label">
                <div class="label-item stock">Акція</div>
            </div>
            <div class="product-image">
                <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
            </div>
            <div class="rating">
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
            <div class="vendoer">
                <span class="lablel">Код товару:</span>
                <div class="value">4587642</div>
            </div>
            <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
            <div class="group-block">
                <div class="price">
                    <span class="prefix">від</span>
                    <span class="price-value">11 499</span>
                    <span class="currency">грн</span>
                </div>
                <div class="buttons-addto">
                    <div class="compare"></div>
                    <div class="favorites"></div>
                </div>
            </div>
            <div class="buy-btn">Купити</div>
        </div>
    </div>
    <div class="product-item">
        <div class="content">
            <div class="label">
                <div class="label-item offer-day">Пропозиція дня</div>
                <div class="label-item new">Новинка</div>
            </div>
            <div class="product-image">
                <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
            </div>
            <div class="rating">
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
            <div class="vendoer">
                <span class="lablel">Код товару:</span>
                <div class="value">4587642</div>
            </div>
            <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
            <div class="group-block">
                <div class="price">
                    <span class="prefix">від</span>
                    <span class="price-value">11 499</span>
                    <span class="currency">грн</span>
                </div>
                <div class="buttons-addto">
                    <div class="compare"></div>
                    <div class="favorites"></div>
                </div>
            </div>
            <div class="buy-btn">Купити</div>
        </div>
    </div>
    <div class="product-item">
        <div class="content">
            <div class="label">
                <div class="label-item offer-day">Пропозиція дня</div>
                <div class="label-item bestseller">Хіт продажів</div>
            </div>
            <div class="product-image">
                <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
            </div>
            <div class="rating">
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
            <div class="vendoer">
                <span class="lablel">Код товару:</span>
                <div class="value">4587642</div>
            </div>
            <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
            <div class="group-block">
                <div class="price">
                    <span class="prefix">від</span>
                    <span class="price-value">11 499</span>
                    <span class="currency">грн</span>
                </div>
                <div class="buttons-addto">
                    <div class="compare"></div>
                    <div class="favorites"></div>
                </div>
            </div>
            <div class="buy-btn">Купити</div>
        </div>
    </div>
    <div class="product-item">
        <div class="content">
            <div class="label">
                <div class="label-item stock">Акція</div>
            </div>
            <div class="product-image">
                <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
            </div>
            <div class="rating">
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star star-active"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
            <div class="vendoer">
                <span class="lablel">Код товару:</span>
                <div class="value">4587642</div>
            </div>
            <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
            <div class="group-block">
                <div class="price">
                    <span class="prefix">від</span>
                    <span class="price-value">11 499</span>
                    <span class="currency">грн</span>
                </div>
                <div class="buttons-addto">
                    <div class="compare"></div>
                    <div class="favorites"></div>
                </div>
            </div>
            <div class="buy-btn">Купити</div>
        </div>
    </div>
</div>
<div class="load-more-wrapper">
    <div class="load-more-btn">Більше товарів</div>
</div>
<div class="pager-line">
    <ul class="pager">
        <li class="pager-current">1</li>
        <li class="pager-item"><a href="#">2</a></li>
        <li class="pager-item"><a href="#">3</a></li>
        <li class="pager-item"><a href="#">4</a></li>
        <li class="pager-ellipsis">…</li>
        <li class="pager-item"><a href="#">10</a></li>
    </ul>
</div>