<ul class="peoduct-characteristic">
    <li>
        <span class="title">Маетріал корпуса:</span>
        <span class="value">Пластик</span>
    </li>
    <li>
        <span class="title">Максимальна роздільна здатність:</span>
        <span class="value">1,3 Мп</span>
    </li>
    <li>
        <span class="title">Розширення:</span>
        <span class="value">1280х960</span>
    </li>
    <li>
        <span class="title">Підтримка RGB (кольорова зйомка):</span>
        <span class="value">є</span>
    </li>
    <li>
        <span class="title">Тип матриці:</span>
        <span class="value">CMOS</span>
    </li>
    <li>
        <span class="title">Розмір матриці:</span>
        <span class="value">1/3"</span>
    </li>
    <li>
        <span class="title">Тип об'єктива:</span>
        <span class="value">фіксований</span>
    </li>
    <li>
        <span class="title">Маетріал корпуса:</span>
        <span class="value">Пластик</span>
    </li>
    <li>
        <span class="title">Максимальна роздільна здатність:</span>
        <span class="value">1,3 Мп</span>
    </li>
    <li>
        <span class="title">Розширення:</span>
        <span class="value">1280х960</span>
    </li>
    <li>
        <span class="title">Підтримка RGB (кольорова зйомка):</span>
        <span class="value">є</span>
    </li>
    <li>
        <span class="title">Тип матриці:</span>
        <span class="value">CMOS</span>
    </li>
    <li>
        <span class="title">Розмір матриці:</span>
        <span class="value">1/3"</span>
    </li>
    <li>
        <span class="title">Тип об'єктива:</span>
        <span class="value">фіксований</span>
    </li>
</ul>