<div class="product-item">
    <div class="content">
        <div class="label">
            <div class="label-item offer-day">Пропозиція дня</div>
            <div class="label-item bestseller">Хіт продажів</div>
        </div>
        <div class="product-image">
            <a href="#">
                <img src="./images/img/product/product-1.png" alt="" width="218" height="156">
            </a>
        </div>
        <div class="rating">
            <div class="star star-active"></div>
            <div class="star star-active"></div>
            <div class="star star-active"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
        <div class="vendoer">
            <span class="lablel">Код товару: </span>
            <div class="value">4587642</div>
        </div>
        <div class="title"><a href="#">Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a></div>
        <div class="group-block">
            <div class="price">
                <span class="prefix">від</span>
                <span class="price-value">11 499</span>
                <span class="currency">грн</span>
            </div>
            <div class="buttons-addto">
                <div class="compare"></div>
                <div class="favorites"></div>
            </div>
        </div>
        <div class="buy-btn">Купити</div>
    </div>
</div>