<div class="review-wrapper">
    <div class="review">
        <div class="review-image">
            <img src="./images/img/review-img-1.png" alt="" width="114" height="101">
        </div>
        <div class="review-content">
            <div class="data-created">12 марта, 12:54</div>
            <div class="detail-name-rating">
                <div class="name">Олег Горбачёв</div>
                <div class="rating">
                    <div class="star star-active"></div>
                    <div class="star star-active"></div>
                    <div class="star star-active"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
            </div>
            <div class="product-title">
                <a href="#">Отзыв о Ігрова консоль PS4 Slim 500Gb Blue + 3 місячна підписка</a>
            </div>
            <div class="description">
                <p>Долго выбирали для студента. Скажу, что среди конкурентов…нет, не так начал, точнее сказать, конкурентов нет. 
                    Уникальное сочетание высококачественного экрана, «долгой» батареи и потрясной начинки. Качество сборки на высоте! 
                    Отсутствие в работе каких-либо «глюков», огромное количество всевозможных «наворотов» и «модных фишек» типа «фейсконтроля» 
                    преподносят это изделие на две головы выше аналогичного «железа». Компания-производитель, конкурирующая с «Apple», 
                    не может выпустить на рынок «сырую планшетку», она таких попросту не производит. Ставка была сделана на цену, функционал, 
                    имя производителя и она, я Вам скажу, сыграла. До этого у нас в семье уже было несколько планшетов китайских производителей с качеством выше 
                    среднего. Но переход на Самсунг сравним с заменой автомобиля отечественного производителя на иномарку. 
                    Рассматривать отдельно каждую деталь не имеет смысла. На сегодняшний день планшет вещь повседневная, выбирать его стоит, убедившись, 
                    что все заявленное производителем реально работает. Здесь так и есть!</p>
            </div>
        </div>
    </div>
    <div class="review-answer">
        <div class="label">Відповідь</div>
        <div class="date-created">12 марта, 13:00</div>
        <div class="name">Пердстваник компанії</div>
        <div class="description">
            <p>Добрый день, Александр. <br>
                Для Вашей модели, действительно, последняя версия ПО 611_d <br>
                В этом обновлении было исправлено <br>
                Повышена стабильность работы YouTube <br>
                - Мелкие правки интерфейса KIVI VISION <br>
                - Новый загрузчик обновлений ТВ <br>
                - Оптимизация системы и исправление ошибок. <br>
                Что касается Youtube, для его стабильной работы нами было принято решение запретить приложению обновляться. Это связано с ошибками, которые были найдены в приложении. <br>
                С Уважением служба технической поддержки KIVI. <br>
                </p>
        </div>
    </div>
</div>