<div class="slider-front">
    <div class="slider-for">
        <div class="slide slide-1">
            <div class="slide-img-wrap">
                <img src="./images/img/sliderFront/slide-1.png" alt="" width="1170" height="490">
            </div>
            <div class="slider-description">
                <div class="product-title">Mi 8</div>
                <ul class="characteristics">
                    <li>Розмір екрану <span>6,21"</span></li>
                    <li>Основна камера<span>12,0 Мп + 12,0 Мп </span></li>
                    <li>Кількість ядер<span>8 (2,8 ГГц)</span></li>
                    <li>Об'єм вбудованої пам'яті<span>64 Гб</span></li>
                </ul>
                <div class="buy-now">Купити зараз <span class="cart-icon"></span> </div>
            </div>
        </div>
        <div class="slide slide-2">
            <div class="slide-img-wrap">
                <img src="./images/img/sliderFront/slide-2.png" alt="" width="1170" height="490">
            </div>
            <div class="slider-description">
                <div class="product-title">Mi 8</div>
                <ul class="characteristics">
                    <li>Розмір екрану <span>6,21"</span></li>
                    <li>Основна камера<span>12,0 Мп + 12,0 Мп </span></li>
                    <li>Кількість ядер<span>8 (2,8 ГГц)</span></li>
                    <li>Об'єм вбудованої пам'яті<span>64 Гб</span></li>
                </ul>
                <div class="buy-now">Купити зараз <span class="cart-icon"></span> </div>
            </div>
        </div>
        <div class="slide slide-3">
            <div class="slide-img-wrap">
                <img src="./images/img/sliderFront/slide-3.png" alt="" width="1170" height="490">
            </div>
            <div class="slider-description">
                <div class="product-title">Mi 8</div>
                <ul class="characteristics">
                    <li>Розмір екрану <span>6,21"</span></li>
                    <li>Основна камера<span>12,0 Мп + 12,0 Мп </span></li>
                    <li>Кількість ядер<span>8 (2,8 ГГц)</span></li>
                    <li>Об'єм вбудованої пам'яті<span>64 Гб</span></li>
                </ul>
                <div class="buy-now">Купити зараз <span class="cart-icon"></span> </div>
            </div>
        </div>
        <div class="slide slide-4">
            <div class="slide-img-wrap">
                <img src="./images/img/sliderFront/slide-2.png" alt="" width="1170" height="490">
            </div>
            <div class="slider-description">
                <div class="product-title">Mi 8</div>
                <ul class="characteristics">
                    <li>Розмір екрану <span>6,21"</span></li>
                    <li>Основна камера<span>12,0 Мп + 12,0 Мп </span></li>
                    <li>Кількість ядер<span>8 (2,8 ГГц)</span></li>
                    <li>Об'єм вбудованої пам'яті<span>64 Гб</span></li>
                </ul>
                <div class="buy-now">Купити зараз <span class="cart-icon"></span> </div>
            </div>
        </div>
        <div class="slide slide-5">
            <div class="slide-img-wrap">
                <img src="./images/img/sliderFront/slide-3.png" alt="" width="1170" height="490">
            </div>
            <div class="slider-description">
                <div class="product-title">Mi 8</div>
                <ul class="characteristics">
                    <li>Розмір екрану <span>6,21"</span></li>
                    <li>Основна камера<span>12,0 Мп + 12,0 Мп </span></li>
                    <li>Кількість ядер<span>8 (2,8 ГГц)</span></li>
                    <li>Об'єм вбудованої пам'яті<span>64 Гб</span></li>
                </ul>
                <div class="buy-now">Купити зараз <span class="cart-icon"></span> </div>
            </div>
        </div>
    </div>
    <div class="slider-nav">
        <div class="img-small">
            <img src="./images/img/sliderFront/slide-1.png" alt="" width="127" height="85">
        </div>
        <div class="img-small">
            <img src="./images/img/sliderFront/slide-2.png" alt="" width="127" height="85">
        </div>
        <div class="img-small">
            <img src="./images/img/sliderFront/slide-3.png" alt="" width="127" height="85">
        </div>
        <div class="img-small">
            <img src="./images/img/sliderFront/slide-2.png" alt="" width="127" height="85">
        </div>
    </div>
</div>